:root {
  ---white: #fff;
  ---black: #000000;
  ---gray: #545454;
  ---light-gray: #ccc;
  ---red: #f78c79;
  ---surface: #0e1315;
  ---overlay: #161d21;
  ---overlay-hover: #202930;
  ---text-main: #e1e2e2;
  ---text-active: #9EADE6;
  ---text-active-copy: #1171cc;
  ---primary: #475596;
  ---secondary: #9EADE6;
  ---border-gray: #263238;
  ---green: #14361c;
}
