:root {
  ---white: #fff;
  ---black: #000000;
  ---gray: #545454;
  ---light-gray: #ccc;
  ---red: #ff0000;
  ---surface: #0e1315;
  ---overlay: #161d21;
  ---overlay-hover: #202930;
  ---text-main: #e1e2e2;
  ---text-active: #113455;
}
