@mixin link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(---text-main);
  text-decoration: none;
}
